section#dobra_2 {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    min-height: 100vh;
    background-position-x: center !important;
    background-position-y: center !important;

    background: url('./../../src/img/dobra_2/BG02.webp');
    background-repeat: no-repeat;
    background-size: cover;


    h2 {
        text-align: center;
        font-size: 1.75rem;
        background: linear-gradient(120deg, #ffffff, #BA4C0E);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .card {
        margin-top: 3rem;
        background-color: #090909;
        border-radius: 8px;
        border: none;

        .card-body {
            background-color: #090909;
            border-radius: 8px;

            .list-group-horizontal {
                // justify-content: space-between;

                li {
                    background-color: #090909;
                    // width: 100%;
                    font-size: 1rem;
                    border: none;
                    color: var(--color-White);

                    .compostName {
                        color: #404040;
                    }

                    img {
                        height: 1rem;
                        width: 1rem;
                        margin-right: .2rem;
                    }

                    &.icon_moeda {
                        // width: 150%;
                    }

                    &.value {
                        padding-left: 0;
                        padding-right: 0;
                        margin-left: auto;
                        // width: 50%;

                    }

                    &.percent {
                        min-width: 96px;

                        &.red {
                            color: #b63232;
                        }

                        &.green {
                            color: #00cb7a;
                        }
                    }
                }
            }
        }

        position: relative;
        /* Necessário para o posicionamento do pseudo-elemento */
        // padding: 2rem;
        border-radius: 8px;
        /* Borda arredondada */
        background-color: #1a1a1a;
        /* Cor de fundo do card */
        color: #ffffff;
        /* Cor do texto */
        text-align: center;
        // z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 8px;
            /* Mesma borda arredondada do card */
            padding: .6px;
            /* Espessura da borda */
            background: linear-gradient(0deg, #f99f38, #828282);
            /* Gradiente da borda */
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            -webkit-mask-composite: destination-out;
            // z-index: -1;
            /* Coloca a borda atrás do conteúdo */
        }

    }


    .resultados {
        p {
            font-size: 22px;
            text-align: center;
            color: var(--whit-gray);
        }

        .card {
            background-color: transparent;

            .card-body {
                background-color: #09090980;

                h5.card-title {
                    // color: var(--whit-gray) !important;
                    font-size: 1.7rem;
                    background: linear-gradient(#F0A647 9.47%, #BA4C0E 128.61%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            @media screen and (min-width:500px) {
                min-height: 260px;
            }

            @media screen and (min-width:768px) {
                min-height: 356px;
            }


            position: relative;
            /* Necessário para o posicionamento do pseudo-elemento */
            // padding: 2rem;
            border-radius: 8px;
            /* Borda arredondada */
            background-color: #1a1a1a;
            /* Cor de fundo do card */
            color: #ffffff;
            /* Cor do texto */
            text-align: center;
            // z-index: 1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 8px;
                /* Mesma borda arredondada do card */
                padding: .6px;
                /* Espessura da borda */
                background: linear-gradient(0deg, #f99f38, #828282);
                /* Gradiente da borda */
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask-composite: exclude;
                -webkit-mask-composite: destination-out;
                // z-index: -1;
                /* Coloca a borda atrás do conteúdo */
            }

        }
    }

    .btn.hero {
        display: inline-flex;
        background-color: var(--bg-btn);
        color: #000;
        padding: 10px;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        position: relative;
        font-size: 12px;
        align-items: center;
        // margin-bottom: 1rem;;
    }

    .row-btn {
        img {
            width: 32px;
            // margin-left: .5rem;
        }
    }

}