section#dobra_3 {
    min-height: 100vh;
    background: url("./../../src/img/dobra_3/BG03.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        text-align: center;
        margin-top: 6rem;
        letter-spacing: 22px;
        color: var(--color-orange);
    }

    img {
        width: 100%;
        margin-top: 18rem;

        @media screen and (min-width:768px) {
            margin-top: 9rem;
        }

        @media screen and (min-width:1024px) {
            margin-top: 4.5rem;
        }

        @media screen and (min-width:1440px) {
            margin-top: .7rem;
        }
    }

    .cardsIcon {
        .cardimgIcon {
            display: inline-flex;
            align-items: center;

            img {
                margin-top: 0;
            }
        }

        .text-orange {
            color: var(--color-orange);
        }
    }

}