section#dobra_4 {
    min-height: 100vh;
    background: url("./../../src/img/dobra_4/BG04.webp");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    background-position-x: left;
    padding-bottom: 5rem;

    @media screen and (max-width:500px) {
        background-position-x: 20%;
    }

    h2 {
        margin-top: 6rem;
        margin-bottom: 3rem;
        text-align: center;
        background: linear-gradient(120deg, #ffffff, #BA4C0E);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 28px;
    }

    .mockUp {
        width: 100%;
        margin-bottom: 3rem;
    }

    .card {
        background-color: #09090950;

        .card-body {
            padding: 2.6rem;
            background-color: transparent;

            h5 {
                font-size: 24px;
                background: linear-gradient(120deg, #f0a747, #BA4C0E);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                // font-size: 28px;
            }

            p {
                color: var(--whit-gray);
            }
        }

        img {
            background: #f0a747;
            padding: .5rem;
            width: 3rem;
            border-radius: 8px;
            margin-bottom: 1rem;
        }

        position: relative;
        /* Necessário para o posicionamento do pseudo-elemento */
        // padding: 2rem;
        border-radius: 8px;
        /* Borda arredondada */
        // background-color: #1a1a1a;
        /* Cor de fundo do card */
        color: #ffffff;
        /* Cor do texto */
        // text-align: center;
        // z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 8px;
            /* Mesma borda arredondada do card */
            padding: .6px;
            /* Espessura da borda */
            background: linear-gradient(0deg, #f99f38, #828282);
            /* Gradiente da borda */
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            -webkit-mask-composite: destination-out;
            // z-index: -1;
            /* Coloca a borda atrás do conteúdo */
        }
    }

    @media screen and (min-width:1024px) {
        .container-flex {
            min-width: 100%;
            padding: 0;

            img {}
        }
    }

    .btn.hero {
        display: inline-flex;
        background-color: var(--bg-btn);
        color: #000;
        padding: 10px;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        position: relative;
        font-size: 12px;
        align-items: center;
        // margin-bottom: 1rem;;
    }

    .row-btn {
        img {
            width: 32px;
            // margin-left: .5rem;
        }
    }
}