section#hero-section {
    min-height: 100vh;
    background: url("./../../src/img/dobra_1/BG01.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

    @media screen and (max-width:500px) {
        // background-size: 100vh;
        background-position-x: 40%;
        // background-position-y: 100%;

        // h2.hero {
        //     margin-top: 0 !important;
        //     margin-bottom: 1rem !important;
        // }

        // a.btn.hero {
        //     padding: 17px 40px !important;
        //     margin-top: 56vh !important;
        //     // margin-left: 2rem;
        // }

        // .row-btn {
        //     text-align: center;
        // }
    }

    @media screen and (min-width:1366px) {
        // min-height: 1011px;
        // background-size: cover;
    }

    .container {
        padding-top: 4rem;
    }

    h2 {
        font-family: Good Timing;
        font-size: 43px;
        font-weight: 700;
        line-height: 48.86px;
        text-align: left;
        color: var(--color-title-hero-section);

        span {
            color: var(--color-title-detailer-hero-section);
        }

        @media screen and (min-width:768px) {
            // width: 510px;
        }
    }

    p {
        font-family: D-DIN Exp;
        font-size: 1rem;
        font-weight: 400;
        line-height: 29.08px;
        text-align: left;
        color: var(--color-text-hero-section);

        @media screen and (min-width:768px) {
            // width: 22rem;
        }
    }

    .btn.hero {
        display: inline-flex;
        background-color: var(--bg-btn);
        color: #000;
        padding: 10px;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        position: relative;
        font-size: 14px;
        align-items: center;
        margin-bottom: 1rem;
    }

    .row_persons {
        margin-top: 1rem;
        font-size: 1rem;

        img {
            width: 1.375rem;
        }
    }

}