:root {
    --bg-body: #0c0e22;

    //navbar
    --color-hamburger-bar: #d3c2c2; // Cor das barras do hamburger
    --bg-navbar-active: #333; // Cor de fundo ativa da navbar

    --color-accordion-header-open: rgba(255, 255, 255, 0.5); // Cor da borda do acordeão

    --color-btn-login-bg: none; // Cor de fundo do botão de login
    --color-btn-login-border: #838282; // Cor da borda do botão de login
    --color-btn-login-text: #838282; // Cor do texto do botão de login

    --color-btn-register-bg: #bababa; // Cor de fundo do botão de registro
    --color-btn-register-text: #FFFFFF; // Cor de fundo do botão de registro
    // --color-btn-register-box-shadow: rgba(186, 76, 14, 0.04); // Sombra do botão de registro


    // hero
    --color-title-hero-section: #ffffff;
    --color-title-detailer-hero-section: #f0a747;
    --color-text-hero-section: #828282;

    --bg-btn: #f0a747;
    --box-shadow-btn: 0px 20.3px 41.55px 0px #f0a74752;
    --color-btn: #FFFFFF;

    //acordeon
    --color-bg-accordion: #1b1b1b;
    --color-accordion-header: #FFFFFF;
    --color-accordion-header-open: #FFFFFF;
    --color-accordion-body: #828282;


    //footer


    //all
    --color-orange: #f0a747;
    --color-gray: #828282;
    --color-White: #FFFFFF;
    --whit-gray: #afafaf;

}