:root {
    --bg-body: #0a0a0a;

    //navbar
    --color-hamburger-bar: #d3c2c2; // Cor das barras do hamburger
    --bg-navbar-active: rgba(27, 27, 27, 0.9); // Cor de fundo ativa da navbar

    --color-accordion-header-open: rgba(255, 255, 255, 0.5); // Cor da borda do acordeão

    --color-btn-login-bg: none; // Cor de fundo do botão de login
    --color-btn-login-border: #838282; // Cor da borda do botão de login
    --color-btn-login-text: #FFFFFF; // Cor do texto do botão de login

    --color-btn-register-bg: linear-gradient(87.36deg, #F0A647 9.47%, #BA4C0E 128.61%); // Cor de fundo do botão de registro
    --color-btn-register-text: #FFFFFF; // Cor de fundo do botão de registro
    --color-bg-navbar-active: rgba(27, 27, 27, 0.9);
    // --color-btn-register-box-shadow: rgba(186, 76, 14, 0.04); // Sombra do botão de registro


    // hero
    --color-title-hero-section: #ffffff;
    --color-title-detailer-hero-section: #f0a747;
    --color-text-hero-section: #828282;

    --bg-btn: #f0a747;
    --box-shadow-btn: 0px 20.3px 41.55px 0px #f0a74752;
    --color-btn: #FFFFFF;

    //acordeon
    --color-bg-accordion: #1b1b1b50;
    --color-accordion-header: #afafaf;
    --color-accordion-header-open: #FFFFFF;
    --color-accordion-body: #82828250;


    //footer
    --color-footer-text: #afafaf;

    //all
    --color-orange: #f0a747;
    --color-gray: #828282;
    --color-White: #FFFFFF;
    --whit-gray: #afafaf;

}